<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="form " method="post" action="/enter_room">
    <!--<input type="text" placeholder="User Name" name="user_name" id="text">-->
    <input type="submit" value="New Room" />
</form>

<h3>OR</h3> 
<h4>Join a room</h4>

<form class="form" method="post" action="/join_room">
    <input type="text" placeholder="Room ID">
    <input type="submit" value="Join Room">
</form>